
body {
	background-color: #211C93;
	font-family: 'Roboto', sans-serif;
	color: black;
}

table {
	border-spacing: inherit;
	border-collapse: collapse;
	background: white;
	padding: 8px;
	margin:auto;
	width: 600px;

}
td {
	padding:8px;
	margin:1px;
	border: solid 1px black;
}
tr {
	border: solid 1px black;
	background-color: #f5f5f5;
}
tr:nth-child(even) {
	background-color: #e5e5e5;

}
th {
	padding:13px;
	background-color: #181818;
	border-bottom: solid 1px;
	border-color:#686868;
	color:white;

}
a, a:visited {
	color:white;
}
.button {

}