<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Add</title>
</head>

<body>
<a href="?cmd=view" id="list-page-link">Nimekiri</a>
<a href="?cmd=fill" id="add-page-link">Lisa</a>
{include file="form.tpl"}
</body>

</html>