<form method="post" action="?cmd=add">
<table>
    <tr><th colspan="2">Lisa kontakt</th></tr>
    <tr><td>Nimi</td><td><input type="text" name="firstName" id="firstName"></td></tr>
    <tr><td>Perekonnanimi</td><td><input type="text" name="lastName" id="lastName"></td></tr>
    <tr><td>Telefonid</td><td><input type="text" name="phone1" id="phone1"> </tr>
    <tr><td></td><td><input type="text" name="phone2" id="phone2"> </tr>
    <tr><td></td><td><input type="text" name="phone3" id="phone3"> </tr>
    <tr><td></td><td><input type="submit" name ="submit-button" value="Submit" id="submit-button" class="button"></td></tr>
</table>
</form>

